@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

* {
    font-family: 'Nothing You Could Do', cursive;
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 50px;
}

#gameboard {
    background-color: transparent;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
    /* border: 1px solid black; */
}

#grid {
    position: absolute;
    z-index: -1;
}

line, circle {
    stroke-width: 10;
}

circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: black;
    fill: transparent;
}

.crossline {
    stroke: black;
}

/* grid animation styles */

.gridline, .crossline, circle {
    animation: .3s linear 1 forwards;
}

.vertical {
    animation-name: verticalline;
}

.horizontal {
    animation-name: horizontalline;
}

#verticalright {
    animation-delay: .4s;
}

#horizontaltop {
    animation-delay: .8s;
}

#horizontalbottom {
    animation-delay: 1.2s;
}

@keyframes verticalline {
    from {
        stroke: black;
        transform: scaleY(0);
    }
    to {
        stroke: black;
        transform: scaleY(1);
    }
}

@keyframes horizontalline {
    from {
        stroke: black;
        transform: scaleX(0);
    }
    to {
        stroke: black;
        transform: scaleX(1);
    }
}

/* cross animation styles */

.topleft {
    animation-name: topleft;
    transform-origin: top left;
}

@keyframes topleft {
    to {
        width: 100%;
    }
}

/* circle animation styles */

circle {
    animation-duration: .5s;
    animation-name: wipe;
}

@keyframes wipe {
    to {
        stroke-dashoffset: 0;
    }
}