@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    font-family: 'Reenie Beanie', cursive;
    user-select: none;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    margin: 30px auto 0;
}

.playerName {
    transition: box-shadow .5s linear;
}

#gameboard {
    background-color: transparent;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 600px;
    width: 600px;
    /* border: 1px solid black; */
}

#grid {
    position: absolute;
    z-index: -1;
}

.cell, .buttonContainer {
    display: flex;
}

.cell {
    align-items: center;
}

.buttonContainer {
    height: 100px;
    justify-content: space-around;
    margin-bottom: 20px;
}

input {
    border: none;
    width: 350px;
    outline: none;
    font-size: 3rem;
    text-align: center;
}

input:disabled {
    user-select: none;
    background: none;
    color: black;
}


line, circle {
    stroke-width: 10;
    z-index: 1;
}

circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: black;
    fill: transparent;
}

.crossline {
    stroke: black;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    font-size: 4rem;
    display: block;
}

button:disabled {
    cursor: default;
}

#reset {
    margin: 50px auto;
}

/* grid animation styles */

.gridline, .crossline, circle, .fade {
    animation: .3s linear 1 forwards;
}

.vertical {
    animation-name: verticalline;
}

.horizontal {
    animation-name: horizontalline;
}

#verticalright {
    animation-delay: .4s;
}

#horizontaltop {
    animation-delay: .8s;
}

#horizontalbottom {
    animation-delay: 1.2s;
}

@keyframes verticalline {
    from {
        stroke: black;
        transform: scaleY(0);
    }
    to {
        stroke: black;
        transform: scaleY(1);
    }
}

@keyframes horizontalline {
    from {
        stroke: black;
        transform: scaleX(0);
    }
    to {
        stroke: black;
        transform: scaleX(1);
    }
}

/* cross animation styles */

.crossline {
    animation-name: crossdraw;
}

.topright {
    animation-delay: .3s;
}

@keyframes crossdraw {
    to {
        stroke-dashoffset: 0;
    }
}

/* circle animation styles */

circle {
    animation-duration: .5s;
    animation-name: wipe;
}

@keyframes wipe {
    to {
        stroke-dashoffset: 0;
    }
}

/* toggle styles */

.underline {
    box-shadow: 0 4px black;
}

.greyed {
    transition: opacity .5s linear;
    opacity: 0.2;
}

.winner {
    box-shadow: 0 4px red;
}

.redden {
    transition: stroke .5s linear;
    stroke: red;
}

/* reset fade (toggle style) */

.fade {
    transition: opacity .8s linear;
    opacity: 0;
}